.event-detail {
    text-align: center;
    background-color: #181f18;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
  }
  
  .event-detail button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  .event-detail input {
    margin: 10px;
    padding: 10px;
    width: 80%;
    max-width: 300px;
    display: block;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  