
.reservation-form {
  background-color: #181818;
  padding: 20px;
  border-radius: 10px;
  color: #FFD700;
}

.reservation-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.reservation-form input,
.reservation-form select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.reservation-form button {
  background-color: #FFD700;
  color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.reservation-form button:hover {
  background-color: #FFD700;
  color: #000000;
  font-weight: bold;
}
