.home {
  text-align: center;
  background-color: #181f18;
  color: white;
}

.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.event {
  background-color: #333;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.event h3 {
  font-size: 1.5rem;
}

.event p {
  font-size: 1rem;
}

.details-link {
  color: yellow;
  text-decoration: none;
  font-weight: bold;
}

.details-link:hover {
  text-decoration: underline;
}
