/* Home.css */
.home {
  padding: 20px;
  color: #FFD700;
}
.events {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.event-card {
  background-color: #181818;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative; 
}
.event-card.middle {
  order: 1;
}
.event-card.right {
  order: 2;
}
.event-card.left {
  order: 3;
}
.event-card h2 {
  margin: 0;
}
.event-card p {
  margin: 5px 0;
}
.event-card a {
  color: #FFD700;
  text-decoration: none;
  margin-top: auto;
}
.event-card a:hover {
  text-decoration: underline;
}
.hot-event {
  background-color: red;
  color: white;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 5px;
}
.hot-event::before {
  content: "🔥"; 
  margin-right: 5px;
}
